.about {
    flex-flow: column;
}

.about-content {
    max-width: 270px;

    @media screen and (min-width: 360px) {
        max-width: 340px;
    }

    @media screen and (min-width: 1100px) {
        max-width: 1100px;
    }
}