.subpage {
  .subpage-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 100%;

    @media screen and (max-width: 992px) {
      display: none;
      font-size: 1.25rem;
      width: 100%;
      text-align: center;
    }
  }

  // .swiper-button-next, .swiper-button-prev {
  //     position: absolute;
  //     top: 90%!important;
  //     width: calc(var(--swiper-navigation-size) / 44 * 27);
  //     height: var(--swiper-navigation-size);
  //     margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  //     z-index: 10;
  //     cursor: pointer;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     color: white!important;
  //     // background-image: url(../images/arrowdown.svg);
  //     width: 5%;

  //     width: 4.5em;
  //     height: 4.5em;

  //     background: rgba(54, 52, 52, 0.4);

  //     @media screen and (min-width: 992px) {
  //         top: 80%!important;
  //     }
  // }

  // .swiper-button-next {
  //     &:after {
  //         content: url(../images/arrowright.svg);
  //         height: 1.5em;
  //     }
  // }

  // .swiper-button-prev {
  //     &:after {
  //         content: url(../images/arrowleft.svg);
  //         height: 1.5em;
  //     }
  // }

  .swiper-container {
    width: 100vw;
    height: 100vh;
    @media screen and (min-width: 1200px) {
      width: 100%;
    }
  }

  .swiper-slide {
    display: flex !important;
    align-items: center !important;
  }

  .slide-container {
    padding: 1em;
    // transition: all 0.6s ease-in-out;

    @media screen and (min-width: 992px) {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      height: 60%;
    }

    @media screen and (min-width: 1200px) {
      height: 45%;
    }

    @media screen and (min-height: 612px) {
      padding: 2em;
    }

    p {
      @media screen and (max-height: 650px) {
        margin-bottom: 0.25em;
      }
    }

    h2 {
      @media screen and (max-height: 650px) {
        font-size: 1.1rem;
      }

      @media screen and (min-width: 992px) {
        font-size: 2.5rem;
      }

      @media screen and (min-width: 1200px) {
        font-size: 1.9rem;
      }
    }

    .text-content {
      height: 100%;
      line-height: 1.7;
      @media screen and (max-height: 650px) {
        font-size: 0.8rem;
      }

      @media screen and (min-width: 992px) and (max-width: 1024px) {
        font-size: 1.5rem;
      }

      @media screen and (min-width: 1200px) {
        font-size: 1.2rem;
      }
    }
  }

  .swiper-scrollbar {
    bottom: 10% !important;
  }

  .swiper-scrollbar-drag {
    background: white !important;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 4% !important;

    @media screen and (min-width: 992px) {
      bottom: 5% !important;
    }
  }

  .swiper-pagination-bullet {
    background: grey !important;
  }

  .swiper-pagination-bullet-active {
    background: white !important;
  }
}

.subpage-offer {
  .subpage-title {
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.5s ease;
  }

  .subpage-title-entered {
    transform: translate(-50%, 0%);
    opacity: 1;
  }

  .slide-container {
    transform: translateY(2%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.5s ease;
  }

  .subpage-slide-container-entered {
    transform: translateY(0%);
    opacity: 1;
  }
}
