@import "../styles/variables.scss";

.fullscreen-project-image {
  height: 100vh;

  img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;

    transition: opacity 0.4s ease-in !important;
  }

  .lazy-load-image-background {
    width: 100%;
    height: 100%;

    transition: filter 0.4s ease-in-out !important;

    img {
      opacity: 1 !important;
    }
  }
}

.arrow-box {
  top: inherit;
  bottom: 7%;
  position: fixed;
  transition: all 0.3s ease-in;
  opacity: 0;
  width: 2.25em;
  height: 2.25em;
  overflow: hidden;

  @media screen and (min-width: 992px) {
    bottom: 5%;
  }

  svg {
    height: 100%;
    transition: all 0.2s ease-in;
  }
}

.box-bt-left {
  right: auto;
  left: 1.5em;
  transform: translateX(-200%);
  @media screen and (min-width: 992px) {
    left: 3em;
  }
}

.box-bt-right {
  right: 1.5em;
  transform: translateX(200%);
  @media screen and (min-width: 992px) {
    right: 1.5em;
    right: 3em;
  }
}

.arrow-entered {
  transform: translateX(0%) !important;
  opacity: 1;

  svg {
    animation: arrowEntered 0.5s forwards;
  }

  @keyframes arrowEntered {
    0% {
      transform: translate(0%, -150%);
    }

    100% {
      transform: translate(0%, 0%);
    }
  }
}

.arrow-rotated-right {
  svg {
    // transform: rotate(-90deg);
    animation: arrowRotateRight 0.5s forwards;
  }

  @keyframes arrowRotateRight {
    0% {
      transform: translate(0%, 0%);
    }

    100% {
      transform: translate(0%, 0%) rotate(-90deg);
    }
  }
}

.arrow-unrotated-right {
  svg {
    // transform: rotate(90deg);
    animation: arrowUnRotateRight 0.5s forwards;
  }

  @keyframes arrowUnRotateRight {
    0% {
      transform: translate(0%, 0%) rotate(-90deg);
    }

    100% {
      transform: translate(0%, 0%) rotate(0deg);
    }
  }
}

.arrow-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.project-content-middle {
  display: flex;
  flex-flow: column;
  position: relative;

  @media screen and (min-width: 992px) {
    flex-flow: row;
    height: 100vh;
  }

  .content {
    @media screen and (min-width: 1200px) {
      width: 50%;
    }
  }

  .section-left {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 992px) {
      order: 2;
    }

    h2,
    p,
    span {
      color: #fff;
    }

    .project-description {
      direction: ltr;

      p {
        text-align: justify;
        font-weight: 300;
        line-height: 1.4;
        @include fluid-type($min_width, $max_width, 17px, 19px);
      }
    }

    .content-wrapper {
      @media screen and (min-width: 992px) {
        height: 60%;
        // border: 1px solid purple;
        padding: 0 3em;
        display: flex;
        flex-flow: row;

        .text-container {
          padding-top: 0;
        }
      }

      @media screen and (min-width: 1200px) {
        padding: 0 4.5em;
      }
    }
  }

  .section-right {
    @media screen and (max-width: 992px) {
      order: 1;
      height: 25em;
    }
    .secondary-project-image {
      height: 100%;

      span {
        height: 100%;
        display: flex !important;
      }

      img {
        height: 100%;
        width: 100%;
        display: flex;
      }
    }
  }
}

// .scroll-marker {
//     width: 100%;
//     height: 100%;
//     border: 1px solid green;

//     direction:ltr;
// }

.text-container {
  padding: 2em 2em 2em 4em;

  @media screen and (min-width: 1400px) {
    padding: 3em 3em 3em 5em;
  }

  overflow-y: scroll;
  direction: rtl;
  text-align: left;

  @media screen and (max-width: 992px) {
    padding: 1.5em;
    padding-top: 4em;
    height: 100%;
    width: 100vw;
  }

  h2 {
    font-weight: 700;
    // font-size: 2.75rem;
    line-height: 1.4;
    margin-bottom: 0;

    @include fluid-type($min_width, $max_width, 24px, 46px);

    &:nth-child(2) {
      margin-bottom: 0.5em;
    }
  }

  &::-webkit-scrollbar {
    width: 0.8em;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
    background: rgb(41, 41, 41);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: white;
  }
}

.project-page-content-bottom {
  .visualization-tile {
    height: 100vh;
    p {
      background: rgba(54, 52, 52, 0.4);
      color: #fff;
      margin: 2em;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
}

.lazyload-wrapper {
  height: 100vh;
  z-index: -1;

  .slide-bg-fullscreen {
    width: 100%;
    height: 100vh;
    background-position: 50% 100%;
    background-size: cover;

    // transform: matrix(1.05, 0, 0, 1.05, 0, 0);

    // transition: transform 0.5s ease-in, filter 0.5s ease-in,
    //   background-position 1.5s ease-in !important;

    // @media screen and (min-width: 992px) {
    //   filter: grayscale(100%) contrast(105%);
    // }
  }
}
