main {

    .swiper-wrapper {
    
        @media screen and (min-width: 992px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1;
        }
    }

    .swiper-slide {

        &:hover {

            span {
                
                img {
                    filter: grayscale(0%);
                    transform: scale(1.05);
                    transition: all 0.5s ease-in-out!important;
                }
            }
            
            .title-container {
                transform: translateY(-90%)
            }

            .text-holder {
                transform: scale(1.05);
            }
    
            .text-on-hover {
                transform: translateY(-270%);

                @media screen and (max-width: 1450px) {
                    transform: translateY(-200%);
                }

                .read-more {
    
                    &:after {
                        width: 7.5em;
                    }
    
                }
            }
        }

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }

    // .swiper-button-next, .swiper-button-prev {
    //     position: absolute;
    //     top: 90%!important;
    //     width: calc(var(--swiper-navigation-size) / 44 * 27);
    //     height: var(--swiper-navigation-size);
    //     margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    //     z-index: 10;
    //     cursor: pointer;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     color: white!important;
    //     // background-image: url(../images/arrowdown.svg);
    //     width: 5%;

    //     width: 4.5em;
    //     height: 4.5em;

    //     background: rgba(54, 52, 52, 0.4);
    // }

    // .swiper-button-next {
    //     right: 2.5em;
    //     &:after {
    //         content: url(../images/arrowright.svg);
    //         height: 1.5em;
    //     }
    // }

    // .swiper-button-prev {
    //     left: 2.5em;
    //     &:after {
    //         content: url(../images/arrowleft.svg);
    //         height: 1.5em;
    //     }
    // }

}

// .swiper-slide:hover{
//     .single-project-container {
//         transform: scale(1.2);
//     }
// }

.single-project-container {
    height: 100vh;
    overflow: hidden;

    span {
        height: 100%;

        img {
            width: 100%;
            height: 100%;

            transition: all 0.5s ease-in!important;

            @media screen and (min-width: 992px) {
                filter: grayscale(100%) contrast(105%);
            }
        }
    }

    .text-holder {
        position: relative;
        overflow: hidden;
        // height: 100vh;
        // width: 100%;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom;
        // position: relative;

        // &:after {
        //     position: absolute;
        //     content: " ";
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     z-index: 0;
        //     background: linear-gradient(to bottom,rgba(0,0,0, 0), rgba(0,0,0, 0.5))
        // }
    }
}

.single-project-container, .single-project-tile {
    position: relative;

    .title-container {
        bottom: 20%;
        position: absolute;
        left: 2.5em;
        transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (min-width: 992px) {
            bottom: 14%;
        }
    }

    .text-on-hover {
        transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0 2.5em;
        
        .project-slogan {
            width: 90%;
            margin-bottom: 0.75em;
        }

        .read-more {
            position: relative;
            text-transform: uppercase;
            &:after {
                content: '';
                background: #fff;
                height: 2px;
                width: 0em;
                position: absolute;
                bottom: -4px;
                left: 0;
                transition: 0.7s cubic-bezier(0.57, 0.21, 0.53, 0.82);
            }
        }
    }

    h2 {
        color: #fff;
        font-size: 2rem;
        letter-spacing: 1px;

        @media screen and (min-height: 648px) {
            font-size: 2.5rem;
        }
    }

    picture {
        img {
            transition: all 0.3s ease-in-out;
            height: 120%;
        }
    }


}

.showColor {

    height: 0px;
    .gatsby-image-wrapper {
        height: 0px;

        img {
            height: 0px;
        }

        picture img {
            height: 0px;
        }
    }
}

.hideColor {

    height: 100%;
    .gatsby-image-wrapper {
        height: 100%;

        img {
            height: 100%;
        }

        picture img {
            height: 100%;
        }
    }
    
}