.menu-wrapper {
    width: 100%;
    background: transparent;
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    position: absolute;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    z-index:-1;
    background: #0c0c0c;
    opacity: 0;
    transition: transform 0s;
    transition: opacity 0.3s ease-in-out;
}

header {
    position: fixed;
    z-index: 1;
    top: 3em;

    .logo-container {
    
        .logo-top {
            height: 100%;
            img {
                padding-left: 3em;
                width: 15rem;
            }
        }
    
        #logo-white {
            display: none;
        }

    }
}

header.active {
    // height: 100%;

    .lang-switch {
        display: block;
    }

    .nav {
        z-index: 1;
        opacity: 1;
    }
}
  
  