
.nav {
    position: absolute;
    border: 1px solid red;
    height: 100%;
    width: 100%;
    z-index:-1;
    background: #0c0c0c;
    opacity: 0;
    transition: transform 0s;
    transition: opacity 0.3s ease-in-out;
}

header {
    position: fixed;
    z-index: 9999;
    top: 3em;

    @media screen and (max-height: 420px) and (orientation: landscape) {
        top: 1em;
    }

    @media screen and (max-height: 650px) {
        top: 2em;

        img {
            padding-left: 1em;
        }
    }

    .logo-container {
    
        .logo-top {
            height: 100%;
            img {
                padding-left: 2em;
                width: 12rem;

                @media screen and (max-height: 420px) and (orientation: landscape) {
                    width: 10em;
                }

                @media screen and (max-height: 650px) {
                    padding-left: 1em;
                }

                @media screen and (min-width: 992px) {
                    padding-left: 3em;
                    width: 12rem;
                }
            }
        }
    
        #logo-white {
            display: none;
        }

    }
}

header.active {
    // height: 100%;

    .lang-switch {
        display: block;
    }

    .nav {
        z-index: 1;
        opacity: 1;
    }
}
  
  